## Aggregation and Grouping

This notebook covers the essentials of aggregation and grouping in pandas. We are using the planets dataset from seaborn library. Takeaways from this notebook:

1. How to summarize large data by computing aggregations like sum(), mean(), median(), etc.
2. How to group data and apply aggregate functions on groups.
3. How to filter data based on group characteristics.

In [6]:
##loading penguins data from seaborn package
import seaborn as sns

penguin_df = sns.load_dataset('penguins')
penguin_df.sample(5)

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
299,Gentoo,Biscoe,45.2,16.4,223.0,5950.0,MALE
182,Chinstrap,Dream,40.9,16.6,187.0,3200.0,FEMALE
307,Gentoo,Biscoe,51.3,14.2,218.0,5300.0,MALE
171,Chinstrap,Dream,49.2,18.2,195.0,4400.0,MALE

### Aggregate functions for a dataframe

In [7]:
##the aggregate functions like sum(), mean(), etc. return reseults within each column
penguin_df.mean()

culmen_length_mm       43.921930
culmen_depth_mm        17.151170
flipper_length_mm     200.915205
body_mass_g          4201.754386
dtype: float64

In [9]:
###describe() - pandas convenience method to compute common aggregates

penguin_df.dropna().describe()

       culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
count        333.000000       333.000000         333.000000   333.000000
mean          43.992793        17.164865         200.966967  4207.057057
std            5.468668         1.969235          14.015765   805.215802
min           32.100000        13.100000         172.000000  2700.000000
25%           39.500000        15.600000         190.000000  3550.000000
50%           44.500000        17.300000         197.000000  4050.000000
75%           48.600000        18.700000         213.000000  4775.000000
max           59.600000        21.500000         231.000000  6300.000000

List of aggregation methods in pandas

* `count()` - Total number of items

* `first()`, `last()` - First and last item

* `mean()`, `median()` - Mean and median

* `min()`, `max()` - Minimum and Maximum

* `std()`, `var()` - Standard deviation and variance

* `mad()` - Mean absolute deviation

* `prod()` - Product of all items

* `sum()` - Sum of all items

### GroupBy

In [10]:
##grouping penguins by species
penguin_df.groupby('species')

In [12]:
##selecting the body_mass_g series group from the original dataframe 
penguin_df.groupby('species')['body_mass_g']

In [13]:
##calling the aggregate function to compute the statistic
penguin_df.groupby('species')['body_mass_g'].mean()

species
Adelie       3700.662252
Chinstrap    3733.088235
Gentoo       5076.016260
Name: body_mass_g, dtype: float64

In [15]:
##iterating over a groupby object
for (specie, group) in penguin_df.groupby('species'):
            print("{0:30s} shape={1}".format(specie, group.shape))

Adelie                         shape=(152, 7)
Chinstrap                      shape=(68, 7)
Gentoo                         shape=(124, 7)

In [17]:
##computing summary statistics on groups
penguin_df.groupby('species')['body_mass_g'].describe().unstack()

       species
count  Adelie        151.000000
       Chinstrap      68.000000
       Gentoo        123.000000
mean   Adelie       3700.662252
       Chinstrap    3733.088235
       Gentoo       5076.016260
std    Adelie        458.566126
       Chinstrap     384.335081
       Gentoo        504.116237
min    Adelie       2850.000000
       Chinstrap    2700.000000
       Gentoo       3950.000000
25%    Adelie       3350.000000
       Chinstrap    3487.500000
       Gentoo       4700.000000
50%    Adelie       3700.000000
       Chinstrap    3700.000000
       Gentoo       5000.000000
75%    Adelie       4000.000000
       Chinstrap    3950.000000
       Gentoo       5500.000000
max    Adelie       4775.000000
       Chinstrap    4800.000000
       Gentoo       6300.000000
dtype: float64

In [18]:
##computing different aggregates on different columns using aggregate() method
penguin_df.groupby('species').aggregate({
    'body_mass_g': 'mean',
    'flipper_length_mm': 'median'
    
})

           body_mass_g  flipper_length_mm
species
Adelie     3700.662252              190.0
Chinstrap  3733.088235              196.0
Gentoo     5076.016260              216.0

### Adding filters on groups

In [21]:
##filtering data on group properties
print(penguin_df.groupby('species')['body_mass_g'].mean())
print(penguin_df.groupby('species').filter(lambda x: x['body_mass_g'].mean() > 3710))

species
Adelie       3700.662252
Chinstrap    3733.088235
Gentoo       5076.016260
Name: body_mass_g, dtype: float64
       species  island  culmen_length_mm  culmen_depth_mm  flipper_length_mm  \
152  Chinstrap   Dream              46.5             17.9              192.0
153  Chinstrap   Dream              50.0             19.5              196.0
154  Chinstrap   Dream              51.3             19.2              193.0
155  Chinstrap   Dream              45.4             18.7              188.0
156  Chinstrap   Dream              52.7             19.8              197.0
..         ...     ...               ...              ...                ...
339     Gentoo  Biscoe               NaN              NaN                NaN
340     Gentoo  Biscoe              46.8             14.3              215.0
341     Gentoo  Biscoe              50.4             15.7              222.0
342     Gentoo  Biscoe              45.2             14.8              212.0
343     Gentoo  Biscoe              49.9             16.1              213.0

     body_mass_g     sex
152       3500.0  FEMALE
153       3900.0    MALE
154       3650.0    MALE
155       3525.0  FEMALE
156       3725.0    MALE
..           ...     ...
339          NaN     NaN
340       4850.0  FEMALE
341       5750.0    MALE
342       5200.0  FEMALE
343       5400.0    MALE

[192 rows x 7 columns]