In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sklearn.linear_model

In [2]:
# load the data
oecd_bli = pd.read_csv("../Data/BLI_09082020134141350.csv", thousands=',')

In [5]:
# gdp_per_capita = pd.read_excel("../Data/WEO_Data.xls", thousands=',', na_values="n/a")
gdp_per_capita = pd.read_csv("../Data/WEO_Data.xls", thousands=',', na_values="n/a", delimiter="\t", encoding='latin1')

In [22]:
def prepare_country_stats(bli_data, gdp_data):
    # merged = bli_data.join(gdp_data, on=['Country'], how='left')
    merged = pd.concat([bli_data, gdp_data], keys=['Country'], join='inner')
    return merged

In [23]:
country_stats = prepare_country_stats(oecd_bli, gdp_per_capita)

In [21]:
oecd_bli

,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,5.40,NaN,NaN
1,AUT,Austria,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.50,NaN,NaN
2,BEL,Belgium,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.70,NaN,NaN
3,CAN,Canada,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,6.00,NaN,NaN
4,CZE,Czech Republic,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.10,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2364,LTU,Lithuania,WL_EWLH,Employees working very long hours,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,0.54,NaN,NaN
2365,COL,Colombia,WL_EWLH,Employees working very long hours,L,Value,MN,Men,PC,Percentage,0,Units,NaN,NaN,32.09,NaN,NaN
2366,LTU,Lithuania,WL_EWLH,Employees working very long hours,L,Value,MN,Men,PC,Percentage,0,Units,NaN,NaN,0.67,NaN,NaN
2367,COL,Colombia,WL_EWLH,Employees working very long hours,L,Value,WMN,Women,PC,Percentage,0,Units,NaN,NaN,19.37,NaN,NaN
2368,LTU,Lithuania,WL_EWLH,Employees working very long hours,L,Value,WMN,Women,PC,Percentage,0,Units,NaN,NaN,0.43,NaN,NaN

In [18]:
gdp_per_capita

,Country,Subject Descriptor,Units,Scale,Country/Series-specific Notes,2015,Estimates Start After
0,Afghanistan,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",599.994,2013.0
1,Albania,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",3995.383,2010.0
2,Algeria,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",4318.135,2014.0
3,Angola,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",4100.315,2014.0
4,Antigua and Barbuda,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",14414.302,2011.0
...,...,...,...,...,...,...,...
185,Vietnam,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",2088.344,2012.0
186,Yemen,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",1302.940,2008.0
187,Zambia,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",1350.151,2010.0
188,Zimbabwe,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",1064.350,2012.0
189,"International Monetary Fund, World Economic Ou...",NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
country_stats

             LOCATION         Country INDICATOR  \
Country 0         AUS       Australia   JE_LMIS
        1         AUT         Austria   JE_LMIS
        2         BEL         Belgium   JE_LMIS
        3         CAN          Canada   JE_LMIS
        4         CZE  Czech Republic   JE_LMIS
...               ...             ...       ...
        2364      LTU       Lithuania   WL_EWLH
        2365      COL        Colombia   WL_EWLH
        2366      LTU       Lithuania   WL_EWLH
        2367      COL        Colombia   WL_EWLH
        2368      LTU       Lithuania   WL_EWLH

                                      Indicator MEASURE Measure INEQUALITY  \
Country 0              Labour market insecurity       L   Value        TOT
        1              Labour market insecurity       L   Value        TOT
        2              Labour market insecurity       L   Value        TOT
        3              Labour market insecurity       L   Value        TOT
        4              Labour market insecurity       L   Value        TOT
...                                         ...     ...     ...        ...
        2364  Employees working very long hours       L   Value        TOT
        2365  Employees working very long hours       L   Value         MN
        2366  Employees working very long hours       L   Value         MN
        2367  Employees working very long hours       L   Value        WMN
        2368  Employees working very long hours       L   Value        WMN

             Inequality Unit Code        Unit  PowerCode Code PowerCode  \
Country 0         Total        PC  Percentage               0     Units
        1         Total        PC  Percentage               0     Units
        2         Total        PC  Percentage               0     Units
        3         Total        PC  Percentage               0     Units
        4         Total        PC  Percentage               0     Units
...                 ...       ...         ...             ...       ...
        2364      Total        PC  Percentage               0     Units
        2365        Men        PC  Percentage               0     Units
        2366        Men        PC  Percentage               0     Units
        2367      Women        PC  Percentage               0     Units
        2368      Women        PC  Percentage               0     Units

              Reference Period Code  Reference Period  Value  Flag Codes  \
Country 0                       NaN               NaN   5.40         NaN
        1                       NaN               NaN   3.50         NaN
        2                       NaN               NaN   3.70         NaN
        3                       NaN               NaN   6.00         NaN
        4                       NaN               NaN   3.10         NaN
...                             ...               ...    ...         ...
        2364                    NaN               NaN   0.54         NaN
        2365                    NaN               NaN  32.09         NaN
        2366                    NaN               NaN   0.67         NaN
        2367                    NaN               NaN  19.37         NaN
        2368                    NaN               NaN   0.43         NaN

              Flags
Country 0       NaN
        1       NaN
        2       NaN
        3       NaN
        4       NaN
...             ...
        2364    NaN
        2365    NaN
        2366    NaN
        2367    NaN
        2368    NaN

[2369 rows x 17 columns]